* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  background-color: #f7f8f9;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

.container .gotop.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.container .gotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 220px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #aecbf4;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container a {
  color: #000;
  text-decoration: none;
}

.container a:link {
  color: #000;
}

.container a:visited {
  color: #000;
}

.container .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10%;
  color: #000;
  -webkit-box-shadow: 1px 1.5px 1px 1px #ddd8d8;
          box-shadow: 1px 1.5px 1px 1px #ddd8d8;
  background: white;
  z-index: 10;
}

.container .header .logo {
  overflow: hidden;
  width: 160px;
  height: 88.03px;
  -webkit-animation: slide_left 0.4s linear forwards;
          animation: slide_left 0.4s linear forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.container .header .logo img {
  width: 160px;
  height: 88.03px;
}

@-webkit-keyframes slide_left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide_left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.container .header .mobile_btn {
  display: none;
}

.container .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  font-size: 1.05em;
  font-weight: 500;
}

.container .header .nav li {
  position: relative;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.container .header .nav li .top {
  display: block;
  padding: 30px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.container .header .nav li div {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

.container .header .nav li .bottom {
  position: absolute;
  left: 50%;
  top: 110%;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}

.container .header .nav li:hover .top {
  opacity: 0;
}

.container .header .nav li:hover .bottom {
  top: 50%;
  opacity: 1;
}

.container .header .nav li:hover div {
  opacity: 1;
}

@-webkit-keyframes slide_top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide_top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.container .main {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  background-color: #ffffff;
}

.container .main .content {
  padding: 20px 10px;
}

.container .main .content .article {
  padding: 0 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  font-size: 1.3em;
}

.container .main .content .article img {
  margin: 20px 0;
  max-width: 100%;
}

.container .main .content .article .pic {
  display: block;
  margin: 1.5rem auto;
  border: 1px solid #eee;
  max-width: 90%;
  height: auto;
  max-height: 600px;
}

.container .main .content .article h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.container .main .content .article h3 {
  margin: 20px 0;
}

.container .main .content .article h4 {
  padding-top: 15px;
  margin-top: 10px;
  border-top: 1px solid #d6d6d6;
}

.container .main .content .article h5 {
  margin: 10px 0;
  font-size: 0.97em;
}

.container .main .content .article pre {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
  font-size: 1em;
}

.container .main .content .article p {
  line-height: 1.5;
}

.container .main .content .article p a {
  color: #61aeee;
}

.container .main .content .article p a:link {
  color: #61aeee;
}

.container .main .content .article p a:visited {
  color: #61aeee;
}

.container .main .content .address a {
  font-size: 14px;
  color: #979797;
}

.container .main .content .address a:hover {
  color: #1a1919;
}

.container .main .content .address p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #979797;
}

.container .main .content .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  height: 80vh;
  border-top: 1px #d6d6d6 solid;
  background: url(../img/about.img2.jpg);
  background-size: cover;
}

.container .main .content .about img {
  top: 15%;
  width: 25%;
  min-width: 350px;
  border: 1px solid white;
  border-radius: 50%;
}

.container .main .content .about p {
  margin-top: 100px;
  padding: 10px;
  width: 50%;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.container .main .content .list {
  padding: 20px 0;
  margin: 0;
  padding: 0;
  border: none;
}

.container .main .content ul {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px #d6d6d6 solid;
}

.container .main .content ul li {
  margin: 10px 0;
}

.container .main .content ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 5px;
}

.container .main .content ul li a img {
  height: 220px;
  width: 35%;
  max-width: 550px;
}

.container .main .content ul li a div {
  width: 65%;
  padding: 0 30px;
}

.container .main .content ul li a div p {
  line-height: 1.6;
}

.container .main .content ul li a:hover {
  background-color: rgba(15, 15, 15, 0.1);
}

.container .footer {
  position: relative;
  padding: 30px 11%;
  color: #ffffff;
  background: #272626;
}

.container .footer a {
  color: white;
  text-decoration: none;
}

.container .footer a:link {
  color: white;
}

.container .footer a:visited {
  color: white;
}

.container .footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.container .footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .footer .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.container .footer .contact a p {
  margin-left: 5px;
}

.container .footer .news {
  margin-top: 50px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .footer .news ul li {
  margin: 10px;
}

.container .footer .news p {
  font-size: 14px;
}

.container .footer .news p img {
  width: 100px;
}

.container .footer .news p .mobile_copyright {
  display: none;
}

.container .mobile_nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container .mobile_nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f7f8f9;
  z-index: 30;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.container .mobile_nav .close_nav {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.container .mobile_nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .mobile_nav ul li {
  margin: 10px;
}

.container .mobile_nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  font-size: 2.5em;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .mobile_nav ul li a:hover {
  color: rgba(15, 15, 15, 0.1);
}

.container .mobile_nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.5em;
  color: #272626;
  text-shadow: 0 0 10px #807c7c, 0 0 30px #807c7c, 0 0 80px #807c7c;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 40px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .mobile_nav ul li a:hover::before {
  opacity: 1;
  letter-spacing: 6px;
}

.font_bold {
  font-weight: bold;
}

.li_icon {
  position: relative;
  bottom: 3px;
}

.line_center {
  text-decoration: line-through;
}

.code {
  display: block;
  padding: 1em;
  color: #abb2bf;
  background-color: #282c34;
  overflow-x: auto;
}

.article_list {
  margin: 5px 0;
  padding: 5px 0;
}

.article_list span {
  display: block;
}

.str {
  color: #d19a66;
}

.str2 {
  color: #98c379;
}

.false {
  color: #bd1515;
}

.true {
  color: #36ae7e;
}

.fn {
  color: #61aeee;
}

.fn2 {
  color: #e6c07b;
}

.def {
  color: #abb2bf;
}

.var {
  color: #c678dd;
}

.text_loading {
  position: relative;
  width: 115px;
  white-space: nowrap;
  letter-spacing: 3px;
  -webkit-animation: typing 8s steps(6) infinite;
          animation: typing 8s steps(6) infinite;
  overflow: hidden;
}

@-webkit-keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 115px;
  }
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 115px;
  }
}

.text_loading::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 80%;
  background-color: #000;
  -webkit-animation: loading_text 0.8s steps(3) infinite;
          animation: loading_text 0.8s steps(3) infinite;
}

@-webkit-keyframes loading_text {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@keyframes loading_text {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@media (max-width: 1500px) {
  .container .main .content ul li a img {
    width: 40%;
    height: 200px;
  }
  .container .main .content ul li a div {
    width: 60%;
  }
}

@media (max-width: 1250px) {
  .container .main .content ul li a img {
    width: 50%;
  }
  .container .main .content ul li a div {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .container .gotop {
    right: 30px;
  }
  .container .header {
    padding: 0 3%;
  }
  .container .header .nav {
    display: none;
  }
  .container .header .mobile_btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 40px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .container .header .mobile_btn div {
    width: 30px;
    height: 2px;
    background: black;
  }
  .container .header .mobile_btn div:nth-child(2) {
    width: 24px;
  }
  .container .header .mobile_btn div:nth-child(3) {
    width: 30px;
  }
  .container .main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .container .main .content h1 {
    margin-top: 50px;
  }
  .container .main .content .about p {
    width: 70%;
  }
}

@media (max-width: 820px) {
  .container .main .content ul li a img {
    height: 180px;
  }
}

@media (max-width: 720px) {
  .container .main .content ul li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .main .content ul li a img {
    width: 100%;
    height: 300px;
  }
  .container .main .content ul li a div {
    padding: 30px 0;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid;
  }
}

@media (max-width: 620px) {
  .container .footer .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .footer .contact div {
    margin-top: 10px;
  }
  .container .footer .news p {
    text-align: right;
  }
  .container .footer .news p span {
    display: none;
  }
  .container .footer .news p .mobile_copyright {
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 580px) {
  .container .main .content ul li a img {
    height: 250px;
  }
}

@media (max-width: 520px) {
  .container .main .content ul li a img {
    height: 200px;
  }
  .container .main .content .about img {
    position: relative;
    top: 30px;
  }
  .container .main .content .about p {
    position: relative;
    width: 90%;
    bottom: 30px;
  }
}

@media (max-width: 400px) {
  .container .main .content ul li a img {
    height: 180px;
  }
  .container .main .content .about img {
    min-width: 300px;
  }
  .container .main .content .about p {
    width: 85%;
  }
}
/*# sourceMappingURL=html.css.map */