<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>資料內容加入到資料庫</title>
</head>
<body>
    <div id="app">
        帳號:
        <input type="text" v-model="temp.account">
        <!-- v-model有個特點 假設指定路徑內沒有該屬性，那會自動新增這個屬性 -->
        <br>
        密碼:
        <input type="text" v-model="temp.password">
        <br>
        <button type="button" v-on:click="add_userdata">送出</button>
        <!-- 這邊type要使用button 否則預設定義是submit -->
        導入的帳密:{{temp.account}},{{temp.password}}
        <br>
        userdata內容:{{userdata}}
    </div>
    <script>
       Vue.createApp({
            data(){
                return{
                    userdata:[],
                    temp:{}
                }
            },
            created(){
                this.userdata = JSON.parse(localStorage.getItem('user'));
            },
            methods:{
                add_userdata(){
                    this.temp.id = new Date().getTime();//此行目的產生唯一性id 從這邊也可以有v-model的特效，物件內沒該屬性會自動新增 就跟原生JS一樣
                    this.userdata.push(this.temp);
                    this.temp = {};//清空
                    this.update();
                },
                update(){
                    // localStorage.setItem('user',JSON.stringify(this.userdata))
                    localStorage.setItem('user',JSON.stringify(this.userdata))
                }
            },
        }).mount('#app');

        //順便提一下原生的方法 取得DOM.value > 輸入資料庫and localstorage > 用innerHTML渲染網頁 
    </script>
</body>
</html>