<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.18/dist/vue.global.min.js"></script>
    <style>
        body
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        .wrap .test
        {
            height: 16px;
            margin-bottom: 5px;
        }
        .wrap .tip
        {
            color: red;
        }
    </style>
</head>
<body>
    
    <div class="wrap">
        <h3>僅能輸入數字，否則會跳出提示</h3>
        <div class="test">綁定文字:{{text}}</div>
        <!-- <input type="text" v-model="text"> -->
        <input type="text" v-model.lazy="text">
        <div class="tip" v-if="tip">輸入的{{tipText}}不符合規格!</div>
    </div>

    <script>
        Vue.createApp({
            data(){
                return{
                    text:'',
                    tip:false,
                    tipText:'',
                }
            },
            watch:{
                text(v,o){//v為目前值，o為上一次值
                    
                    let regex = /[^\0-9]/g;
                    //比對的資訊 不符合0-9的字串以外的字元
                    //因為input的回傳的字串，所以使用字串做比對

                    let open = v.match(regex);
                    //match回傳第一筆符合的位置及資訊
                    //不符合回傳null
                    // let open = regex.exec(v);
                    //regex與match相似。

                    if(open != null){
                        console.log('不符合規則')
                        open = open.join(',')
                        this.tipText = open;
                        this.tip = true;
                    }else{
                        this.tip = false;
                        this.tipText = '';
                    }

                }
            }
        }).mount('.wrap')
    </script>
</body>
</html>