*{margin: 0;padding: 0;}

li{list-style: none;}

p,div,h1,h2,h3,h4,h5,input,select{margin: 0;padding: 0;}
input,button,select,textarea
{
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
//reset


.main
{
    display: flex;
    margin-left: 3px;
    width: 100%;
    height: 82vh;
    // background:  #cccccc;
    overflow: hidden;
    .left
    {
        position: relative;
        width: 392px;
        box-shadow: 1px 0px 3px 3px #8b8585;
        z-index: 1;
        .left_head
        {
            display: flex;
            align-items: center;
            color: #ffffff;
            background: #b3b3b3;
            height: 52px;
            .btn
            {
                padding: 2px 8px;
                border-radius: 6px;
                margin: 0 2.5px;
                color: #ffffff;
                cursor: pointer;
                .icon
                {
                    position: relative;
                    top: 1px;
                    right: 1px;
                    width: 18px;
                    height: 18px;
                }
            }
            .create
            {
                background: #01c486;
                margin-left: 10px;
                .icon
                {
                    top: 2.5px;
                    width: 16px;
                    height: 16px;
                }
               
            }
            .create:active
            {
                background: #05b87f;
            }
            .del
            {
                background: #e52c17;
            }
            .del:active
            {
                background: #d41803;
            }
        }
        .left_main
        {
            padding-left: 10px;
            height: 93%;
            overflow: auto;
            background: #ffffff;
            ul
            {
                margin: 10px;
            }
        }
    }
    .right
    {
        position: relative;
        width: calc(100% - 392px);
        // padding: 20px;
        .right_head
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 20px;
            // padding-right: 10px; 此為預設 下為實際調整
            padding-right: 0px;
            height: 52px;
            background: #b3b3b3;
            .search
            {
                position: relative;
                input
                {
                    padding: 4px 10px;
                    width: 280px;
                    font-size: 16px;
                    border-radius: 3px;
                    border: none;
                    box-shadow: #969595 1.5px 1.5px 1.5px 1.5px;
                    outline: none;
                }
                .search_btn
                {
                    position: absolute;
                    top: 7px;
                    right: 5px;
                    width: 19px;
                    height: 19px;
                }
            }
            .btn
            {
                display: flex;
                align-items: center;
                .BTN
                {
                    padding: 3px 8px;
                    border-radius: 6px;
                    margin: 0 2.5px;
                    color: #ffffff;
                    cursor: pointer;
                    .icon
                    {
                        position: relative;
                        top: 1px;
                        right: 1px;
                        width: 18px;
                        height: 18px;
                    }
                }
                .edit_b,.print
                {
                    background: #01c486;
                }
                .edit_b:active,.print:active
                {
                    background: #05b87f;
                }
                .del
                {
                    background: #e52c17;
                }
                .del:active
                {
                    background: #d41803;
                }
                .send,.send_record
                {
                    background: #0167a1;
                }
                .store
                {
                    background: #0167a1;
                    .icon
                    {
                        width: 20px;
                        height: 20px;
                    }
                }
                .send:active,.send_record:active,.store:active
                {
                    background: #035a8d;
                }

            }
        }
        .right_main
        {
            // padding: 10%;
            height: 93%;
            background: #f3f3f3;
            overflow: auto;
            .meet_data
            {
                position: relative;
                margin: 0 auto;
                margin-top: 50px;
                margin-bottom: 20px;
                padding: 0 50px;
                padding-top: 30px;
                padding-bottom: 70px;
                width: 794px;
                // height: 900px;
                border: 1px solid #c1bbbb;
                background: #ffffff;
                box-sizing: border-box;
                .addevent
                {
                    position: absolute;
                    top: 30px;
                    right: 51px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 150px;
                    height: 26px;
                    color: #ffffff;
                    border-radius: 6px;
                    background: #0167a1;
                    cursor: pointer;
                    .icon
                    {
                        width: 16px;
                        height: 16px;
                    }
                }.addevent:active
                {
                    background: #035a8d;
                }
                h1
                {
                    margin-bottom: 35px;
                    font-size: 32px;
                    text-align: center;
                }
                div
                {
                    display: flex;
                    align-items: center;
                    margin: 2.5px 0;
                    font-size: 17px;
                    span
                    {
                        display: flex;
                        align-items: center;
                    }
                    input
                    {
                        height: 24px;
                    }
                    select
                    {
                        height: 24px;
                        font-size: 14px;
                    }
                    button
                    {
                        margin-left: 8px;
                        padding: 2px 7px;
                        color: #ffffff;
                        border: none;
                        border-radius: 6px;
                        background: #0167a1;
                        cursor: pointer;
                        .icon
                        {
                            position: relative;
                            top: 1px;
                            width: 16px;
                            height: 16px;
                        }
                    }
                    button:active
                    {
                        background: #035a8d;
                    }
                    .discussion
                    {
                        font-size: 16px;
                    }
                }
                .list
                {
                    // margin-top: 10px;
                    li
                    {
                        margin: 20px 0;
                        div
                        {
                            display: flex;
                            align-items: flex-start;
                            margin: 5px 0;
                            strong
                            {
                                color: #035a8d;
                                // margin-left: 14px;
                            }
                            .title
                            {
                                white-space: nowrap;
                            }
                            .para
                            {
                                position: relative;
                                top: 0px;
                                white-space: normal;
                                word-wrap: break-word;//強制斷開英文換行
                                word-break: break-all;
                            }
                            textarea
                            {
                                width: 629.77px;
                                min-height: 24px;
                            }
                           
                        }
                    }
                }
                .attached
                {
                    flex-direction: column;
                    align-items: flex-start;
                    p
                    {
                        strong
                        {
                            color: #0c77bc;
                            cursor: pointer;
                        }
                        strong:hover
                        {
                            color: #075386;
                        }
                    }
                    ul
                    {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin-top: 20px;
                        width: 100%;
                        li
                        {
                           width: 100px;
                           img
                           {
                               width: 90%;
                           }
                           p
                           {
                               width: 100%;
                               font-size: 15px;
                               overflow:hidden;//隱藏超出範圍的內容
                               white-space: nowrap;//強制不換行
                               text-overflow: ellipsis;//文字超出範圍後，多出的部分以...呈現
                           }
                        }
                    }
                }
            }
        }
    }
}

.ess
{
    position: relative;
    bottom: 3px;
    color: #e52c17;
    font-size: 25px;
}

.remove
{
    position: relative;
    bottom: 1px;
    margin: 0 2px;
    padding: 1.5px 5.5px;
    color: #ffffff;
    font-size: 14px;
    background: #e52c17;
    border-radius: 50%;
    cursor: pointer;
}

.ul_border
{
    border: 1px solid;
}